/**
 * general.css
 * 
 * Tim Molleman
 *
 * This CSS file contains the bulk of css for index.html and data.html
 *
 */

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: "Tahoma", Geneva, sans-serif;
}
body {
	background: #F0F0F0;
}
h1 {
	padding: 2%;
}
h3 {
	padding: 1%;
}
p {
	padding: 1%;
	font-size: 15px;
	text-align: justify;
	line-height: 150%;
}
footer {
	position: absolute;
	margin-top: 70px;
	overflow: hidden;
	height: 40px;
	background: #333333;
	width: 100%;
	opacity: .9;
	color: white;
	overflow: hidden;
}
footer p {
	text-align: center;
}
.clear {
	height: 85px;
}
.info {
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
}
.pager li>a, .pager li>span {
	background-color: #F0F0F0 !important; 
	border: #F0F0F0 !important;
}
#header {
	width: 100%;
	height: 85px;
	background: #405580;
	position: fixed;
	opacity: 0.9;
	z-index: 100;
}
#header h1 {
	float: left;
	width: 40%;
	color: white;
	padding: 24px 10px 24px 30px;
	margin: 0px;
}
#header h1:hover {
	opacity: 0.9;
}
#navigation {
	float: right;
	padding: 20px 50px 20px 20px;
}
#navigation ul li{
	display: inline-block;
	float: left;
	padding: 10px;
	font-size: 24px;
}
#navigation ul li a {
	color: white;
	display: inline-block;
	text-decoration: none;
}
#navigation ul li a:hover{
	text-decoration: underline;
	opacity: 0.9;
}
#doc {
	margin: 40px 0;
}
#content {
	margin: 10px auto;
	max-width: 1140px;
	margin-top: 30px;
}
.blueberry {
	max-width: 700px;
}
#mapcontainer {
	padding-top: 20px;
	padding-bottom: 10px;
	border: solid 1px;
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}
#map {
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
.datamap 
{
	background: white;
}
.maptitle {
    top: -10px;
    left: 350px;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}
.popup
{
	color: black;
	border: 1px grey;
	border-style: solid;
	background-color: white;
	font-size: 12px;
	text-align: center;
}
.graphcontainer { 
    width: 1300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
}
.bar, .line {
	display: inline-block;
}
.d3tip 
{
	line-height: 1;
	font-weight: bold;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 10px;
}
.x.axis.label
{
	font-size: 17px;
	font-weight: 500;
}
.y.axis.label
{
	font-size: 13px;
}
.axis path,
.axis line
{
  	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}

div .butcontainer {
	position: relative;
	top: 58px;
    left: -170px;
}
.btn-default {
	background: #405580;
	opacity: 0.9;
	font-size: 12px;
	color: white;
}
.btn-default.linetoggle {
	width: 80px;
}
.btn-default.routestoggle {
	width: 120px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 6px;
    background: #405580;
    color: white;
    opacity: 0.9;
}
.btn-default:hover {
	opacity: 1.0;
	background: #405580;
	color: white;
}
#slider {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
.show-year {
	margin: 20px auto;
	padding: 5px 10px;
	text-align: center;
	width: 20%;
	background-color: #405580;
	color: white;
	opacity: 0.9;
	border-radius: 10px;
	border: solid 3px #19334d;
}
