* {
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	background: #F0F0F0;
}
h1 {
	padding: 1%;
}
h2 {
	padding: 1%;
}
#map {
	width: 700px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
}
#navigation {
	float: right;
	padding: 20px 20px 20px 0;
}
#navigation ul li{
	display: inline-block;
	float: left;
	padding: 10px;
	font-size: 24px;
}
#navigation ul li a .current {
	color: black;
}
#navigation ul li a {
	color: white;
	display: inline-block;
	text-decoration: none;
}
#navigation ul li a:hover{
	text-decoration: underline;
}
#header {
	width: 100%;
	height: 85px;
	background: #405580;
	position: fixed;
	opacity: 0.9;
	z-index: 100;
}
#header h1 {
	float: left;
	width: 40%;
	color: white;
	padding: 25px 30px;
}
#doc {
	margin: 40px 0;
}
#content {
	margin: 10px auto;
	max-width: 1140px;
	margin-top: 30px;
}
.blueberry {
	max-width: 700px;
}
.clear {
	height: 85px;
	padding: 1%;
}
.info {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding: 1%;
}
.info p {
	line-height: 150%;
}
.slideholder {
	margin: 0 auto;
	text-align: center;
}
.slider {
	width: 40%;
}
.graphcontainer {
	padding: 40px;

}
.bar {
	overflow: scroll;
	width: 500px;
}
.bar, .line {
	/*float: left;*/
	/*display: inline-block;*/
	padding: 20px;
}
.line:hover {
	width: 20px;
}
.popup
{
	color: black;
	border: 1px grey;
	border-style: solid;
	background-color: white;
	font-size: 12px;
}
.datamap 
{
	background: white;
}
.d3tip 
{
	line-height: 1;
	font-weight: bold;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 10px;
}
.axis path,
.axis line
{
  	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}
.x.axis path
{
	/*display: none;*/
}
rect:hover {
	fill: #e31a1c;
	opacity: 0.80;
}

